{% extends 'selia/collection_detail/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load selia_components %}

{% block toolbar-title %}{% trans 'Add licence to collection' %}{% endblock %}

{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
</li>
{% endblock %}

{% block main-content %}
  <div class="container">
  {% if not request.GET.licence_type %}
    <div class="jumbotron m-3">
      <h1 class="display-6">{%trans 'Add licence to collection: Part' %} 1 / 2</h1>
      <p>
        {% blocktrans %}
        Select licence type
        {% endblocktrans %}
      </p>

      <div class="progress">
        <div class="progress-bar" role="progressbar"style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="container-fluid form-container mb-4 px-4 pb-5">
      <div class="row d-flex justify-content-center flex-wrap">
        {% for licence_type in licence_types %}
        <div class="col-3 p-4 bg-light list_item m-2">
          <a class="strected-link" href="?licence_type={{ licence_type.pk }}">
            {% include 'selia/components/details/licence_type.html' with object=licence_type %}
          </a>
        </div>
        {% empty %}
        <h4>{% trans 'No licence types are valid for this collection' %}</h4>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="jumbotron m-3">
      <h1 class="display-6">{%trans 'Add licence to collection: Part' %} 2 / 2</h1>
      <p>
        {% blocktrans %}
        Please fill in the following information and upload a copy of the original licence contract
        {% endblocktrans %}
      </p>

      <div class="progress">
        <div class="progress-bar" role="progressbar"style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="row w-100">
      <a class="w-100 text-center" href="#collapseLicenceType" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseLicenceType"><h4>{% trans 'Selected licence type' %}: {{ licence_type.pk }}</h4></a>
      <div class="collapse w-100" id="collapseLicenceType">
        <div class="d-flex justify-content-center w-100 m-4">
          <div class="list_item">
            {% include 'selia/components/details/licence_type.html' with object=licence_type %}
          </div>
        </div>
      </div>
    </div>

    <form action="?chain={{ chain }}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" id="collection_field" name="collection" value="{{ collection }}">
      <input type="hidden" id="licence_type_field" name="licence_type" value="{{ licence_type.pk }}">

      <div class="container-fluid form-container mb-4 px-4 pb-5">
        <h5 class="w-100 text-center">{% trans 'Create new licence' %}</h5>
        <div class="row">
          {% if licence_type.document_template %}
          <div class="col-4 mx-5">
            <div class="row d-flex justify-content-between">
              <div class="p-3">
                {% blocktrans %}
                Please download the licence document template and upload a filled in version.
                {% endblocktrans %}
              </div>
              <div class="p-3">
                <a href="{{ licence_type.document_template.url }}" download>{% trans "Template" %}</a>
              </div>
            </div>

            <div class="row d-flex justify-content-between">
              <div class="p-3">
                {% bootstrap_form form.document %}
              </div>
            </div>
          </div>
          {% endif %}

          <div class="col-2 mx-5">
            <div class="row d-flex justify-content-between">
              <div class="p-3">
                {{ form.metadata.errors }}
                {{ form.metadata.label_tag }}
                {{ form.metadata }}
                <small id="metadataInput" class="form-text text-muted">{{ form.metadata.help_text }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}">
        </div>
      </div>
    </form>
  {% endif %}
  </div>

{% endblock main-content %}
