<li class="nav-item text-center text-muted">
  Evento de Muestreo {{ sampling_event_id }}
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:sampling_event_home' collection_name sampling_event_id %}>
    <i class="fas fa-info"></i>
    Info
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:sampling_event_devices' collection_name sampling_event_id %}>
    <i class="fas fa-wrench"></i>
    Dispositivos
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:sampling_event_items' collection_name sampling_event_id %}>
    <i class="far fa-file"></i>
    Items
  </a>
</li>
