{% extends 'selia/collection_detail/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block head-extra %}
  {% include 'selia/components/media/map_media.html' %}
{% endblock head-extra %}

{% block toolbar-title %}{% trans 'Add site to collection' %}{% endblock %}


{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
</li>
{% endblock %}

{% block main-content %}
{% if not request.GET.site %}
<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-6">{%trans 'Add site to collection: Part' %} 1 / 2</h1>
    <p>{% blocktrans %}
      Please select a site to add or 
      {% endblocktrans %}<a href="#collapseSite" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSite">{% trans 'create a new one' %}</a>  </p>
      

    <div class="progress">
      <div class="progress-bar" role="progressbar"style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

<form action="?back={{ request.path }}&chain={{ chain }}&fase=create_site#" method="post">
  {% csrf_token %}
  <div class="container-fluid px-4 pb-5">
    <div class="collapse" id="collapseSite">
      <div class="card card-body">
        <h5 class="w-100 text-center">{% trans 'Create new site' %}</h5>
        <div class="row">
        <div class="col-2 mx-5">
          <div class="row d-flex justify-content-between">
          <div class="p-3">
            {{ site_create_form.latitude.errors }}
            {{ site_create_form.latitude.label_tag }}
            {{ site_create_form.latitude }}
            <small id="latitudeInput" class="form-text text-muted">{{ form.latitude.help_text }}</small>
          </div>
          </div>
          <div class="row d-flex justify-content-between">
          <div class="p-3">
            {{ site_create_form.longitude.errors }}
            {{ site_create_form.longitude.label_tag }}
            {{ site_create_form.longitude }}
            <small id="longitudeInput" class="form-text text-muted">{{ form.longitude.help_text }}</small>
          </div>
          </div>
        </div>
        <div class="col-2 mx-5">
          <div class="row d-flex justify-content-between">
          <div class="p-3">
            {{ site_create_form.altitude.errors }}
            {{ site_create_form.altitude.label_tag }}
            {{ site_create_form.altitude }}
            <small id="altitudeInput" class="form-text text-muted">{{ form.altitude.help_text }}</small>
          </div>
          </div>
          <div class="row d-flex justify-content-between">
          <div class="p-3">
            {{ site_create_form.locality.errors }}
            {{ site_create_form.locality.label_tag }}
            {{ site_create_form.locality }}
            <small id="localityInput" class="form-text text-muted">{{ form.locality.help_text }}</small>
          </div>
          </div>
        </div>
        <div class="col-2 mx-5">
          <div class="row d-flex justify-content-between">
          <div class="p-3">
            {{ site_create_form.name.errors }}
            {{ site_create_form.name.label_tag }}
            {{ site_create_form.name }}
            <small id="nameInput" class="form-text text-muted">{{ site_create_form.name.help_text }}</small>
          </div>
          </div>
        </div>
        </div> 
        <div class="row justify-content-center">
          <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}">
        </div>
      </div>
    </div>
  </div>
</form>

  <div class="container m-3" id="filter_container">

  </div>
  <div class="container-fluid w-100 p-0">
    <div class="w-100 bg-light p-4 list-group mb-4">
      {% for item in site_list %}
      {% if item.pk == request.GET.site %}
      <a class="stretched-link btn btn-primary" href="?back={{ request.path }}&chain={{ chain }}&site={{ item.pk }}#sites">
      {% else %}
      <a class="stretched-link btn" href="?back={{ request.path }}&chain={{ chain }}&site={{ item.pk }}#sites">
      {% endif %}
      {% include 'selia/components/select_list_items/sites.html' with item=item %}
      </a>
      {% empty %}
      <div class="container-fluid bg-light text-center">
          <h4>{% trans 'No available sites. Please ' %}</h4>
          <p><a href="#collapseSite" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSite"><i class="fas fa-plus"></i> {% trans 'register new site' %}</a></p>
      </div>
      {% endfor %}

      <div class="container center w-100 p-4">
        {% include 'selia/components/pagination.html' with list=site_list %}
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="container" id="sites">
  <div class="jumbotron m-4">
    <h1 class="display-6">{%trans 'Add site to collection: Part' %} 2 / 2</h1>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="row h-100">
        <div class="col">
      <h4>{% trans 'Selected site' %}</h4>
      {% include 'selia/components/select_list_items/sites.html' with item=selected_site %}
    </div>
  </div>
  <div class="row p-4 h-100">
    <h4>{% trans 'Please fill out the following information:' %}</h4>
  </div>

      <form action="?chain={{ chain }}" method="post">
        {% csrf_token %}
       <input type="hidden" id="site_field" name="site" value="{{ selected_site.pk }}">
       <input type="hidden" id="collection_field" name="collection" value="{{ collection }}">
      <div class="row">
      <div class="col">
        <div class="row">
        <div class="form-group col">
          {{ form.site_type.errors }}
          {{ form.site_type.label_tag }}
          {{ form.site_type }}
          <small id="site_typeInput" class="form-text text-muted">{{ form.site_type.help_text }}</small>
        </div>
        </div>
        <div class="row">
        <div class="form-group col">
          {{ form.internal_id.errors }}
          {{ form.internal_id.label_tag }}
          {{ form.internal_id }}
          <small id="internal_idInput" class="form-text text-muted">{{ form.identifier.help_text }}</small>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group col">
          {{ form.metadata.errors }}
          {{ form.metadata.label_tag }}
          {{ form.metadata }}
          <small id="metadataInput" class="form-text text-muted">{{ form.metadata.help_text }}</small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary">{% trans 'Register site' %}</button>
    </div>

      </form>

{% endif %}
{% endblock main-content %}