{% extends 'selia/base.html' %}
{% load static from staticfiles %}


{% block navigation-items %}
<li class="nav-item">
  <a class="nav-link" href={% url 'irekua:home' %}>Irekua</a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:home' %}>Selia</a>
</li>
<li class="nav-item active">
  <a class="nav-link about" href={% url 'selia:about' %}>Acerca</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:user_home' %}>Mi Hogar</a>
</li>
{% endif %}
{% endblock navigation-items %}
