{% extends 'irekua/base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}SELIA{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'selia/css/main.css' %}">
<link rel="stylesheet" href="{% static 'irekua/vendor/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
{% block stylesheet-extra %}{% endblock stylesheet-extra %}
{% endblock %}

{% block scripts-extra %}
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<script type="text/javascript" src="{% static 'selia/js/base.js' %}"></script>
{% block local-scripts %}
{% endblock local-scripts%}
{% endblock scripts-extra %}

{% block header %}
{% include 'selia/components/header.html' %}
{% endblock header%}

{% block content %}

{% block view-content %}
{% block main-content%}
{% endblock main-content %}
{% include 'selia/components/footer.html' %}
{% endblock %}

{% endblock content %}
