{% extends 'irekua/base.html' %}
{% load static from staticfiles %}


{% block title %} SELIA {% endblock %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'selia/css/main.css' %}">
{% endblock stylesheet %}


{% block nav-brand %}
<a class="navbar-brand" href="#">Selia</a>
{% endblock nav-brand %}


{% block footer-logos-extra %}
<div class="col h-100">
  <img src="https://monitoreo.conabio.gob.mx/images/Conanp.PNG">
</div>
<div class="col h-100">
  <img src="https://monitoreo.conabio.gob.mx/images/logo-pnud.png">
</div>
{% endblock footer-logos-extra %}
