{% extends 'selia/base.html' %}
{% load static from staticfiles %}


{% block custom_scripts %}
<!-- Page level plugin JavaScript-->
<script src="{% static 'irekua/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'irekua/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'irekua/js/sb-admin.min.js' %}"></script>
<script src="{% static 'irekua/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Custom selia scripts for all pages-->
<script src="{% static 'irekua/js/lodash/lodash@4(lodash.min.js+lodash.fp.min.js)' %}"></script>
<script src="{% static 'irekua/js/modal.js' %}"></script>
{% endblock custom_scripts %}
