{% extends 'selia/base.html' %}
{% load static from staticfiles %}


{% block navigation-items %}
<li class="nav-item">
  <a class="nav-link" href={% url 'irekua:home' %}>Irekua</a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:home' %}>Selia</a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:about' %}>Acerca</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href={% url 'selia:user_home' %}>Mi Hogar</a>
</li>
{% endblock navigation-items %}


{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block bg-light sidebar">
      {% block sidebar %}
      <nav class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Mi Información
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Colecciones
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Sitios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Dispositivos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Items
            </a>
          </li>
        </ul>
      </nav>
      {% endblock sidebar %}
    </div>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {% block main-content %}
      {% endblock main-content %}
    </div>
  </div>

</div>
{% endblock content %}
