.list-group {
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
  max-height: 300px;
  max-width: 200px;
  overflow: scroll;
  word-wrap: break-word;
}

.dropdown-menu li a {
  float: left;
  height: auto;
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
}

#dropdowns {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

#dropdowns div {
  margin-right: 2rem;
}

.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
}

.navbar-fixed-decoration {
  background-color: #000000;
  border-color: #E7E7E7;
  color: #9d9d9d;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  color: #9d9d9d;
  left: 0;
  position: fixed;
  width: 100%;
}

.bar {
  border-radius: 1px;
  height: 24px;
  margin: 0;
}

.funnel {
  border-radius: 1px;
  color: white;
  height: 24px;
  margin: 0;
}

.legend {
  margin-left: 2px;
}

.stacked {
  display: flex;
  padding: 0;
}

.bar-tag {
  width: 30%;
}

div.tooltip {
  background: black;
  border-radius: 8px;
  border: 0px;
  color: white;
  font: 16px sans-serif;
  height: 22px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 45px;
}

pre {
  border-style: dotted;
}

.clear-red {
  background-color: #fd6d71;
}

.clear-red-decoration {
  border-top: 5px solid #fd6d71 !important;
}

.red {
  background-color: #d9534f;
}

.red-decoration {
  border-top: 5px solid #d9534f !important;
}

.dark-red {
  background-color: #9013116;
}

.dark-red-decoration {
  border-top: 5px solid #9013116 !important;
}

.clear-green {
  background-color: rgb(160, 205, 99);
}

.clear-green-decoration {
  border-top: 5px solid rgb(160, 205, 99) !important;
}

.green {
  background-color: rgb(126, 171, 85);
}

.green-decoration {
  border-top: 5px solid rgb(126, 171, 85) !important;
}

.dark-green {
  background-color: rgb(94, 127, 63);
}

.dark-green-decoration {
  border-top: 5px solid rgb(94, 127, 63) !important;
}

.clear-blue {
  background-color: #5285af;
}

.clear-blue-decoration {
  border-top: 5px solid #5285af !important;
}

.blue {
  background-color: #0275d8;
}

.blue-decoration {
  border-top: 5px solid #0275d8 !important;
}

.dark-blue {
  background-color: #84181b;
}

.dark-blue-decoration {
  border-top: 5px solid #84181b !important;
}

.clear-yellow {
  background-color: #ffde6e;
}

.clear-yellow-decoration {
  border-top: 5px solid #ffde6e !important;
}

.yellow {
  background-color: #ffc107;
}

.yellow-decoration {
  border-top: 5px solid #ffc107 !important;
}

.dark-yellow {
  background-color: #917413;
}

.dark-yellow-decoration {
  border-top: 5px solid #917413 !important;
}

.clear-gray {
  background-color: #dbdbdb;
}

.clear-gray-decoration {
  border-top: 5px solid #dbdbdb !important;
}

.gray {
  background-color: #727272;
}

.gray-decoration {
  border-top: 5px solid #727272 !important;
}

.dark-gray {
  background-color: #292b2c;
}

.dark-gray-decoration {
  border-top: 5px solid #292b2c !important;
}

.white {
  color: white;
}

.black {
  color: black;
}

.navbar-custom {
  background-color: #84181b;
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, .8);
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-selia {
  background-color: #84181b;
  border-color: #8C5742;
  color: #ffffff;
}

.btn-selia:hover,
.btn-selia:focus,
.btn-selia:active,
.open,
.dropdown-toggle.btn-selia {
  background-color: #84181b;
  border-color: #8C5742;
  color: #ffffff;
}

.btn-selia:active,
.btn-selia.active,
.open .dropdown-toggle.btn-selia {
  background-image: none;
}

.btn-selia.disabled,
.btn-selia[disabled],
fieldset[disabled] .btn-selia,
.btn-selia.disabled:hover,
.btn-selia[disabled]:hover,
fieldset[disabled] .btn-selia:hover,
.btn-selia.disabled:focus,
.btn-selia[disabled]:focus,
fieldset[disabled] .btn-selia:focus,
.btn-selia.disabled:active,
.btn-selia[disabled]:active,
fieldset[disabled] .btn-selia:active,
.btn-selia.disabled.active,
.btn-selia[disabled].active,
fieldset[disabled] .btn-selia.active {
  background-color: #84181b;
  border-color: #8C5742;
}

.btn-selia .badge {
  color: #84181b;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .wsdb14 #b {
    width: 50%;
    float: left;
  }
  .wsdb14 #c {
    width: 50%;
    float: right;
  }
  .wsdb27 {
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px 1fr 1fr;
  }
  .wsdb27 #a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  .wsdb27 #b {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: span 5;
  }
  .wsdb27 #c {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .wsdb27 #d {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  .wsdb27 #e {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  .wsdb27 #f {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
}

.aes:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f063";
}

.des:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f062";
}

.sortable {
  cursor: pointer
}


/*
#84181b
 */

.color-brew-1 {
  background-color: #8dd3c7;
}

.color-brew-1-decoration {
  border-top: 5px solid #8dd3c7 !important;
}

.color-brew-2 {
  background-color: #ffffb3;
}

.color-brew-2-decoration {
  border-top: 5px solid #ffffb3 !important;
}

.color-brew-3 {
  background-color: #bebada;
}

.color-brew-3-decoration {
  border-top: 5px solid #bebada !important;
}

.color-brew-4 {
  background-color: #fb8072;
}

.color-brew-4-decoration {
  border-top: 5px solid #fb8072 !important;
}

.color-brew-5 {
  background-color: #80b1d3;
}

.color-brew-5-decoration {
  border-top: 5px solid #80b1d3 !important;
}

.color-brew-6 {
  background-color: #fdb462;
}

.color-brew-6-decoration {
  border-top: 5px solid #fdb462 !important;
}

.color-brew-7 {
  background-color: #b3de69;
}

.color-brew-7-decoration {
  border-top: 5px solid #b3de69 !important;
}

.color-brew-8 {
  background-color: #fccde5;
}

.color-brew-8-decoration {
  border-top: 5px solid #fccde5 !important;
}

.center-middle {
  display: flex;
  flex-direction: column;
  justify-content: center!important;
}

.hide {
  display: none !important;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #84181b;
  width: 60px;
  height: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#chart-footer {
  display: none;
}

.invisible {
  visibility: hidden;
}

.table-decoration {
  border-top-width: thick;
}

.wsdb27 #b #tbody tr:nth-child(2) {
  border-top: 1px solid black !important;
}

.wsdb27 #b #tbody tr:nth-child(6) {
  border-top: 1px solid black !important;
}

.wsdb27 #b #tbody tr:nth-child(8) {
  border-top: 1px solid black !important;
}

.wsdb27 #b #tbody tr:nth-child(11) {
  border-top: 1px solid black !important;
}

.wsdb28b,
.wsdb13,
.wsdb13b {
  padding-left: 20px;
  overflow: scroll;
}

#horizontal-legend {
  margin: 0;
}

#vertical-legend {
  transform: rotate(90deg);
  transform-origin: top left;
  margin: 0;
  height: 0;
}

.blue-0 {
  background-color: #ffffff;
}

.blue-1 {
  background-color: #E9EBF1;
}

.blue-2 {
  background-color: #D3D7E3;
}

.blue-3 {
  background-color: #BEC3D5;
}

.blue-4 {
  background-color: #A8AFC7;
}

.blue-5 {
  background-color: #939BB9;
}

.blue-6 {
  background-color: #7D87AB;
  color: white;
}

.blue-7 {
  background-color: #67739D;
  color: white;
}

.blue-8 {
  background-color: #525F8F;
  color: white;
}

.blue-9 {
  background-color: #3C4B81;
  color: white;
}

.blue-10 {
  background-color: #84181b;
  color: white;
}

.green-1 {
  background-color: rgb(160, 205, 99);
  color: white;
}

.green-1-decoration {
  border-top: 5px solid rgb(160, 205, 99) !important;
}

.green-2 {
  background-color: rgb(146, 189, 91);
  color: white;
}

.green-2-decoration {
  border-top: 5px solid rgb(146, 189, 91) !important;
}

.green-3 {
  background-color: rgb(133, 173, 84);
  color: white;
}

.green-3-decoration {
  border-top: 5px solid rgb(133, 173, 84) !important;
}

.green-4 {
  background-color: rgb(120, 158, 77);
  color: white;
}

.green-4-decoration {
  border-top: 5px solid rgb(120, 158, 77) !important;
}

.green-5 {
  background-color: rgb(107, 142, 70);
  color: white;
}

.green-5-decoration {
  border-top: 5px solid rgb(107, 142, 70) !important;
}

.green-6 {
  background-color: rgb(94, 127, 63);
  color: white;
}

.green-6-decoration {
  border-top: 5px solid rgb(94, 127, 63) !important;
}


/*Static Tables */

table.blueTable {
  border: 1px solid #4286f4;
  background-color: #fff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

table.blueTable tbody td {
  font-size: 13px;
}

table.blueTable tr:nth-child(even) {
  background: #d9e2f3;
}

table.blueTable thead {
  background: #84181b;
}

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #d9e2f3;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #d9e2f3;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d9e2f3 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d9e2f3 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d9e2f3 100%);
  border-top: 2px solid #444444;
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

table.blueTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.total {
  background-color: #dbdbdb;
}

body {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 0;
  margin-bottom: 0;
}
