:root {
  --footer-height: 70px;
  --header-height: 60px;
}

footer {
  height: var(--footer-height);
}

.footer-logos > div > div > img {
  max-height: 100%;
}

.footer-logos {
  overflow-y: hidden;
}

html, body {
  overflow-x: hidden;
}

.main-navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  height: var(--header-height);
  z-index: 10;
}

.content {
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll {
  overflow-y: auto;
}

.header-block {
  border-right: 1px solid rgb(111, 111, 111, 0.4) !important;
}
