{% extends 'selia/components/secondary_navbar.html' %}

{% block navbar-brand %}
<ul class="breadcrumb bg-transparent m-0 p-0">
  <li class="breadcrumb-item">
    <a class="navbar-brand" href={% url 'selia:sampling_event_device_home' collection_name sampling_event_id sampling_event_device_id %}>Dipsositivo de Evento de Muestreo {{ sampling_event_device_id }}</a>
  </li>
</ul>
{% endblock navbar-brand %}


{% block navbar-items %}

{% url 'selia:sampling_event_device_home' collection_name sampling_event_id sampling_event_device_id as home_url %}
{% url 'selia:sampling_event_device_items' collection_name sampling_event_id sampling_event_device_id as items_url %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    {% if home_url == request.path|urlencode %}
    <a class="nav-link active" href={{ home_url }}>
    {% else %}
    <a class="nav-link" href={{ home_url }}>
    {% endif %}
      <i class="fas fa-info"></i>
      Info
    </a>
  </li>
  <li class="nav-item">
    {% if items_url == request.path|urlencode %}
    <a class="nav-link active" href={{ items_url }}>
    {% else %}
    <a class="nav-link" href={{ items_url }}>
    {% endif %}
      <i class="far fa-file"></i>
      Items
    </a>
  </li>
</ul>
{% endblock navbar-items %}
