{% extends 'selia/sampling_event_device_detail/base.html' %}
{% load i18n %}
{% load selia_components %}
{% load selia_buttons %}


{% block toolbar-title %}{{ sampling_event_device.sampling_event.collection }}{% trans ': Sampling Event ' %}{{ sampling_event_device.sampling_event.pk }}{% trans ': Device ' %}{{ sampling_event_device.pk }}{% endblock %}

{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="#">{% trans 'Download summary' %} <i class="fas fa-download"></i></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">{% trans 'Help' %} <i class="fas fa-question"></i></a>
</li>
{% endblock toolbar-items %}

{% block main-content %}
  <div class="container pl-3 pr-3">
      <div class="row mt-4 mb-5">
        <div class="col-6">
          {% detail_component detail_template=detail_template object=sampling_event_device %}
        </div>
        <div class="col-6">
          {% summary_component summary_template=summary_template object=sampling_event_device %}
        </div>
      </div>
  </div>
{% endblock main-content %}

{% block modals-extra %}
  {% help_component help_template=help_template %}
  {% if permissions.change %}
    {% update_component update_template=update_form_template form=form %}
  {% endif %}
  {% if permissions.delete %}
    {% delete_component object=object %}
  {% endif %}
{% endblock modals-extra %}
