{% extends 'selia/create/base_select.html' %}
{% load i18n %}
{% load selia_components %}

{% block toolbar-title %}
  {% trans 'Add site to collection' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
  {% include 'selia/navbars/collection.html' %}
{% endblock %}

{% block toolbar-steps %}
<li class="is-active">{% trans 'Select site  type' %}</li>
<li>{% trans 'Select site' %}</li>
<li>{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {%  trans 'Select site type' %}
{% endblock %}

{% block list-container %}
  <div class="form-container mb-4">
    <div class="row d-flex flex-wrap justify-content-center">
      {% for site_type in list %}
      <a class="stretched-link btn btn-link" href="{% url 'selia:create_collection_site' %}?{{ request.GET.urlencode }}&site_type={{ site_type.pk }}">
        {% include 'selia/components/select_list_items/site_type.html' with item=site_type %}
      </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
