{% load table %}
{% load detail %}
{% load map_view %}
{% load summary %}
{% load static %}

<script type="text/javascript" src={% static 'selia/js/grid/grid_manager.js' %}></script>
<div class="fluid-container panel-container">
  <div class="row ml-0 mr-0 h-100">
    {% if grid_config.include_table or grid_config.include_detail %}
    <div class="col-sm-6 h-100 p-0">
      {% if grid_config.include_table %}
      <div class="row m-2 panel">
        {% table table_info %}
      </div>
      {% endif %}
      {% if grid_config.include_detail %}
      <div class="row m-2 panel">
        {% detail detail_info %}
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% if grid_config.include_map or grid_config.include_summary%}
    <div class="col-sm-6 h-100 p-0">
      {% if grid_config.include_map %}
      <div class="row m-2 panel">
        {% map_view map_info %}
      </div>
      {% endif %}
      {% if grid_config.include_summary %}
      <div class="row m-2 panel">
        {% summary summary_info %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
