<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        {% for row in header  %}
          <th scope="col"> {{row}} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for object, link in data %}
      {% if with_link %}
      <tr>
      {% else %}
      <tr>
      {% endif %}
        {% for key, value in object.items %}
        <td>
          {% if key == "logo" or key == "icon" %}
          <img src={{value}} alt={{key}} height="50">
          {% else %}
          {{ value }}
          {% endif %}
        </td>
        {% endfor %}
        <td>
          <a href={{ link }}>ver</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
