{% load i18n %}

{% if grid_config.include_table %}
<li class="nav-item">
  <button class="btn btn-link nav-link" id="toggleTableButton"><i id="toggleTableIcon" class="fas fa-toggle-on"></i> {% trans "Toggle Table" %}</button>
</li>
{% endif %}
{% if grid_config.include_map %}
<li class="nav-item">
  <button class="btn btn-link nav-link" id="toggleMapButton"><i id="toggleMapIcon" class="fas fa-toggle-on"></i> {% trans "Toggle Map" %}</button>
</li>
{% endif %}
{% if grid_config.include_detail %}
<li class="nav-item">
  <button class="btn btn-link nav-link" id="toggleDetailButton"><i id="toggleDetailIcon" class="fas fa-toggle-on"></i> {% trans "Toggle Detail" %}</button>
</li>
{% endif %}
{% if grid_config.include_summary %}
<li class="nav-item">
  <button class="btn btn-link nav-link" id="toggleSummaryButton"><i id="toggleSummaryIcon" class="fas fa-toggle-on"></i> {% trans "Toggle Summary" %}</button>
</li>
{% endif %}
