{% load i18n %}
{% load country_tags %}
{% load json_tags %}
{% load static %}


<div class="row">
  <div class="col">
    <h4>{% trans 'Collection user'%} {{ object.pk}}</h4>
  </div>
</div>

<div class="row w-100">
  <div class="col m-2">
    <div class="row mb-2">
      <h4 class="text-center w-100">
        <span class="border-bottom px-2">
          {% trans 'User info' %}
        </span>
      </h4>
    </div>

    <div class="row">
      <div class="col">
        <h5 class="mt-0">{% trans 'Username' %}</h5>
        <p class="text-muted">{{ object.user.username }}</p>
      </div>
      <div class="col">
        <h5 class="mt-0">{% trans 'Institution' %}</h5>
        <p class="text-muted">{{ object.user.institution }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5 class="mt-0">{% trans 'First name' %}</h5>
        <p class="text-muted">{{ object.user.first_name }}</p>
      </div>
      <div class="col">
        <h5 class="mt-0">{% trans 'Last name' %}</h5>
        <p class="text-muted">{{ object.user.last_name }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5 class="mt-0">{% trans 'Email' %}</h5>
        <p class="text-muted">{{ object.user.email }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row w-100">
  <div class="col m-2">
    <div class="row mb-2">
      <h4 class="text-center w-100">
        <span class="border-bottom px-2">
          {% trans 'Role' %}
        </span>
      </h4>
    </div>

    <div class="row">
      {% if object.role.icon %}
      <div class="col m-0 p-0">
        <div class="media text-muted pt-3">
          <img src="{{ object.role.icon.url }}" alt="role">
        </div>
      </div>
      {% endif %}

      <div class="col">
        <h5 class="mt-0">{% trans 'Role' %}</h5>
        <p class="text-muted">{{ object.role }}</p>
      </div>

      <div class="col">
        <h5 class="mt-0">{% trans 'Description' %}</h5>
        <p class="text-muted">{{ object.role.description }}</p>
      </div>
    </div>
  </div>
</div>

{% if object.metadata %}
<div class="row w-100">
  <div class="col m-2">
    <div class="row border-bottom">
      <h6 class="text-center w-100">{% trans 'Metadata' %}</h6>
    </div>

    <div class="row">
      {% show_json object.metadata %}
    </div>
  </div>
</div>
{% endif %}
