{% load json_tags %}
{% load i18n %}

<div class="media">
  {% if object.logo %}
  <img class="mr-3 img-thumbnail" src="{{ object.logo.url }}" alt="logo">
  {% endif %}
  <div class="media-body mt-0">
    <h4 class="mt-0">{% trans 'Licence ' %}{{ object.pk }}
      {% if object.is_open %}
      {% endif %}
    </h4>
    {{ object.description }}
  </div>
</div>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Licence type' %}</h5>
      <p class="text-muted">{{ object.licence_type }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Collection' %}</h5>
      <p class="text-muted">{{ object.collection }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Document' %}</h5>
      <a href="{{ object.document.url }}" target="_blank"><p>{{ object.document }}</p></a>
      
    </div>
  </div>

  {% if object.metadata %}
  <h4>{% trans 'Metadata' %}</h4>
  <div class="d-flex flex-wrap">
    {% show_json object.metadata %}
  </div>
  {% endif %}

</div>