{% load json_tags %}
{% load i18n %}

<div class="border-top" style="padding-top:20px;">
<div class="media">
  {% if object.logo %}
  <img class="mr-3 img-thumbnail" src="{{ object.logo.url }}" alt="logo">
  {% endif %}
  <div class="media-body mt-0">
    <h4 class="mt-0">{% trans 'Device ' %}{{ object.pk }}
      {% if object.is_open %}
      {% endif %}
    </h4>
    {{ object.description }}
  </div>
</div>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Device type' %}</h5>
      <p class="text-muted">{{ object.device.device_type }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Device brand' %}</h5>
      <p class="text-muted">{{ object.device.brand }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Device model' %}</h5>
      <p class="text-muted">{{ object.device.model }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Serial number' %}</h5>
      <p class="text-muted">{{ object.serial_number }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Identifier' %}</h5>
      <p class="text-muted">{{ object.identifier }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Bundle' %}</h5>
      <p class="text-muted">{{ object.bundle }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Owner' %}</h5>
      <p class="text-muted">{{ object.created_by }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Added on' %}</h5>
      <p class="text-muted">{{ object.created_on }}</p>
    </div>
  </div>

  {% if object.metadata %}
  <h4>{% trans 'Metadata' %}</h4>
  <div class="d-flex flex-wrap">
    {% show_json object.metadata %}
  </div>
  {% endif %}

</div>
</div>