{% load i18n %}

<div class="row">
  <div class="col">
    <div class="media">
      {% if object.icon %}
      <img src="{{ object.icon.url }}" class="mr-3" alt="icon" style="width: 4em;">
      {% endif %}
      <div class="media-body">
        <h5 class="mt-0">{{ object.name }}</h5>
        <p class="text-muted">{{ object.description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="row">
    <h4 class="w-100 text-center">{% trans 'Permissions' %}</h4>
  </div>
  {% for permission in object.permissions.all %}
  <div class="row">
    <small class="text-muted">{{ permission.name }}</small>
  </div>
  {% endfor %}
</div>
