{% load json_tags %}
{% load i18n %}
{% load selia_buttons %}

<div class="media">
  <div class="media-body mt-0">
    <h4 class="mt-0">{% trans 'Sampling event ' %}{{ object.pk }}
    </h4>
  </div>
</div>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Sampling event type' %}</h5>
      <p class="text-muted">{{ object.sampling_event_type }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Collection' %}</h5>
      <p class="text-muted">{{ object.collection }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Started on' %}</h5>
      <p class="text-muted">{{ object.started_on }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Ended on' %}</h5>
      <p class="text-muted">{{ object.ended_on }}</p>
    </div>
  </div>

  <div class="row w-100">
    <h4 class="w-100 text-center">
      <a class="border-bottom" href="{% url 'selia:collection_site_detail' object.collection_site.pk %}">
        {% trans 'Site info' %}
      </a>
    </h4>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Site name' %}</h5>
      <p class="text-muted">{{ object.collection_site.site.name }} </p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Site locality' %}</h5>
      <p class="text-muted">{{ object.collection_site.site.locality }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Site ID in Collection' %}</h5>
      <p class="text-muted">{{ object.collection_site.internal_id }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Site altitude' %}</h5>
      <p class="text-muted">{{ object.collection_site.site.altitude }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="mt-0">{% trans 'Site latitude' %}</h5>
      <p class="text-muted">{{ object.collection_site.site.latitude }}</p>
    </div>
    <div class="col">
      <h5 class="mt-0">{% trans 'Site longitude' %}</h5>
      <p class="text-muted">{{ object.collection_site.site.longitude }}</p>
    </div>
  </div>

  {% if object.metadata %}
  <div class="row">
    <div class="col">
      <h4 class="w-100 text-center">
        <span class="border-bottom">
          {% trans 'Metadata' %}
        </span>
      </h4>
      <div class="d-flex flex-wrap">
        {% show_json object.metadata %}
      </div>
    </div>
  </div>
  {% endif %}

</div>
