{% load i18n %}
{% load country_tags %}


<div class="row w-100">
  <div class="col m-2">
    <div class="row border-bottom">
      <h6 class="text-center w-100">{% trans 'User info' %}</h6>
    </div>
    <div class="row">
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125">
          <strong class="d-block text-gray-dark">{% trans 'Username' %}</strong>
          {{ object.username }}
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col m-0 p-0">
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125">
            <strong class="d-block text-gray-dark">{% trans 'First name' %}</strong>
            {{ object.first_name }}
          </p>
        </div>
      </div>

      <div class="col m-0 p-0">
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125">
            <strong class="d-block text-gray-dark">{% trans 'Last name' %}</strong>
            {{ object.last_name }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125">
          <strong class="d-block text-gray-dark">{% trans 'Email' %}</strong>
          {{ object.email }}
        </p>
      </div>
    </div>
  </div>

  {% if object.institution %}
  <div class="col m-2">
    <div class="row border-bottom">
      <h6 class="text-center w-100">{% trans 'Institution info' %}</h6>
    </div>
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Institution name' %}</strong>
        {{ object.institution.institution_name }}
      </p>
    </div>
    {% if object.institution.institution_code %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Institution code' %}</strong>
        {{ object.institution.institution_code }}
      </p>
    </div>
    {% endif %}
    {% if object.institution.subdependency %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Subdependency' %}</strong>
        {{ object.institution.subdependency }}
      </p>
    </div>
    {% endif %}
    {% if object.institution.country %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Country' %}</strong>
        {{ object.institution.country | get_country_name }}
      </p>
    </div>
    {% endif %}
    {% if object.institution.website %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Website' %}</strong>
        {{ object.institution.website }}
      </p>
    </div>
    {% endif %}
  </div>
  {% endif %}

</div>
