{% load i18n %}
{% load widget_tweaks %}

<div class="row w-100 p-2">
  <div class="col">
    <div class="row">
      <div class="dropdown">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseEventType">
          {% trans 'Event type' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="container p-3">
            <div class="form-group">
              {{ filter.form.event_type.label_tag }}
              {{ filter.form.event_type | add_class:"form-control" }}
              <small class="form-text text-muted">{{ filter.form.event_type.help_text }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="dropdown">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseAnnotationType">
          {% trans 'Annotation type' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="container p-3">
            <div class="form-group">
              {{ filter.form.annotation_type.label_tag }}
              {{ filter.form.annotation_type | add_class:"form-control" }}
              <small class="form-text text-muted">{{ filter.form.annotation_type.help_text }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="dropdown">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseAnnotationType">
          {% trans 'Certainty' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="container p-3">
            <div class="form-group">
              {{ filter.form.certainty.label_tag }}
              {{ filter.form.certainty | add_class:"form-control" }}
              <small class="form-text text-muted">{{ filter.form.certainty.help_text }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="dropdown">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseUserName">
          {% trans 'Created by' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="container p-3">
            <div class="form-group">
              {{ filter.form.created_by__username.label_tag }}
              {{ filter.form.created_by__username | add_class:"form-control" }}
              <small class="form-text text-muted">{{ filter.form.created_by__username.help_text }}</small>
            </div>
            <div class="form-group">
              {{ filter.form.created_by__username__contains.label_tag }}
              {{ filter.form.created_by__username__contains | add_class:"form-control" }}
              <small class="form-text text-muted">{{ filter.form.created_by__username__contains.help_text }}</small>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>

  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseDate">
        {% trans 'Date of creation' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.created_on.label_tag }}
            {{ filter.form.created_on }}
            <small class="form-text text-muted">{{ filter.form.created_on.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>