{% load i18n %}
{% load widget_tweaks %}

<div class="row w-100 p-2">
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseLicenceType">
        {% trans 'Licence type' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.licence_type.label_tag }}
            {{ filter.form.licence_type | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.licence_type.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseUserName">
        {% trans 'Created by' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.created_by__username.label_tag }}
            {{ filter.form.created_by__username | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.created_by__username.help_text }}</small>
          </div>
          <div class="form-group">
            {{ filter.form.created_by__username__contains.label_tag }}
            {{ filter.form.created_by__username__contains | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.created_by__username__contains.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
      <div class="dropdown">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseEndedOn">
          {% trans 'Date of creation' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="container p-3">
            <div class="form-group">
              {% trans 'From' %}
              {{ filter.form.created_on_from}}
              <small class="form-text text-muted">{{ filter.form.created_on_from.help_text }}</small>
            </div>
            <div class="form-group">
              {% trans 'To' %}
              {{ filter.form.created_on_to}}
              <small class="form-text text-muted">{{ filter.form.created_on_to.help_text }}</small>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
