{% load i18n %}
{% load widget_tweaks %}

<div class="row w-100 p-0">
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseSamplingEventTYpe">
        {% trans 'Sampling event type' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.sampling_event_type.label_tag }}
            {{ filter.form.sampling_event_type | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.sampling_event_type.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseCollection">
        {% trans 'Collection' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.collection.label_tag }}
            {{ filter.form.collection | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.collection.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseStartedOn">
        {% trans 'Started on' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.started_on__gt.label_tag }}
            {{ filter.form.started_on__gt | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.started_on__gt.help_text }}</small>
          </div>
          <div class="form-group">
            {{ filter.form.started_on__lt.label_tag }}
            {{ filter.form.started_on__lt | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.started_on__lt.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseEndedOn">
        {% trans 'Ended on' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.ended_on__gt.label_tag }}
            {{ filter.form.ended_on__gt | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.ended_on__gt.help_text }}</small>
          </div>
          <div class="form-group">
            {{ filter.form.ended_on__lt.label_tag }}
            {{ filter.form.ended_on__lt | add_class:"form-control" }}
            <small class="form-text text-muted">{{ filter.form.ended_on__lt.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseDate">
        {% trans 'Date of creation' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
          <div class="form-group">
            {{ filter.form.created_on.label_tag }}
            {{ filter.form.created_on }}
            <small class="form-text text-muted">{{ filter.form.created_on.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
