{% extends 'selia/items/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block secondary-navbar %}
<div class="container-fluid h-100">
  <div class="row h-100 w-100 m-0 p-1 pl-4">
    <div class="col-4 h-100">
      <a class="navbar-brand" href={% url 'selia:user_home' %}>{% trans "Upload Items" %}</a>
    </div>
  </div>
</div>
{% endblock %}

{% block main-content %}
<div class="container p-5">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Upload</h5>
    <h6 class="card-subtitle mb-2 text-muted">Upload multiple files</h6>
    <form action="#" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" class="btn btn-link card-link" value="Submit">
    </form>
  </div>
</div>

</div>
{% endblock main-content %}
