{% extends 'selia/items/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load selia_tags %}


{% block main-content %}
<div class="container mt-2">

  {% card %}
    {% card_header %}
      <img class="card-img-top" src="{% static 'selia/img/evento_de_muestreo.jpg' %}" alt="Card image cap" style="height:200px; widht:100%">
    {% endcard_header %}
    {% card_body %}
      {% trans "Upload" %}
    {% endcard_body %}
  {% endcard %}

</div>
{% endblock main-content %}
