{% extends 'selia/user/components/sidebar_links.html' %}

{% block collection-sidebar-links %}
<div class="container">
  <ul>
    <li class="nav-item">
      <a class="nav-link" href={% url 'selia:collection_home' collection_name %}>
        <i class="fas fa-info"></i>
        Info {{ collection_name }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'selia:collection_sites' collection_name %}>
        <i class="fas fa-map-marked-alt"></i>
        Sitios
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'selia:collection_devices' collection_name %}>
        <i class="fas fa-wrench"></i>
        Dispositivos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'selia:collection_items' collection_name %}>
        <i class="far fa-file"></i>
        Items
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'selia:collection_sampling_events' collection_name %}>
        <i class="fas fa-calendar-week"></i>
        Eventos de Muestreo
      </a>
    </li>
  </ul>
</div>
{% endblock collection-sidebar-links %}
