{% extends 'selia/sampling_event_detail/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block toolbar-title %}{% trans 'Add new item to sampling event' %}{% endblock %}

{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
</li>
{% endblock %}

{% block main-content %}
{% if not request.GET.sampling_event_device and not success_count and not duplicate_count %}
<div class="container" id="sampling_event_devices">
  <div class="jumbotron m-3">
    <h1 class="display-6">{%trans 'Add items to sampling event: Part' %} 1 / 2</h1>
    <p>{% blocktrans %}
      Please select a device within this sampling event to associate or 
      {% endblocktrans %} <a href="{% url 'selia:sampling_event_device_create' sampling_event.pk %}?chain={{ chain }}|{{ request.path }}"></i> {% trans 'add a new device to sampling event' %}</a>.
    </p>
    <div class="progress">
      <div class="progress-bar" role="progressbar"style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="container m-3" id="filter_container">

  </div>
<div class="container-fluid w-100 p-4">
    <h4>{% trans 'Devices whithin this sampling event: ' %}</h4>
    <div class="w-100 bg-light p-4 list-group mb-4">
      {% for item in sampling_event_device_list %}
      {% if item.pk == request.GET.sampling_event_device %}
      <a class="stretched-link btn btn-primary" href="?back={{ request.path }}&chain={{ chain }}&sampling_event_device={{ item.pk }}#addDetail">
      {% else %}
      <a class="stretched-link btn" href="?back={{ request.path }}&chain={{ chain }}&sampling_event_device={{ item.pk }}#addDetail">
      {% endif %}
      {% include 'selia/components/select_list_items/sampling_event_devices.html' with item=item %}
      </a>
      {% empty %}
      <div class="container-fluid bg-light text-center">
          <h4>{% trans 'No available devices in this sampling event. Please ' %}</h4>
          <p><a href="{% url 'selia:sampling_event_device_create' sampling_event.pk %}?chain={{ chain }}|{{ request.path }}"><i class="fas fa-plus"></i> {% trans 'register add a new device' %}</a></p>
      </div>
      {% endfor %}

      <div class="container center w-100 p-4">
        {% include 'selia/components/pagination.html' with list=sampling_event_device_list %}
      </div>
    </div>
</div>
</div>

{% elif not success_count and not duplicate_count %}

<div class="container" id="addDetail">
  <div class="jumbotron m-4">
    <h1 class="display-6">{%trans 'Add items to sampling event: Part' %} 2 / 2</h1>
    <p>{% blocktrans %}
      Please fill complete the information below 
      {% endblocktrans %} 
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div id="selected_objects">
    <div class="row h-100" align="center">
      <div class="col">
        <a href="#collapseSamplingEventDevice" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSamplingEventDevice"><h4>{% trans 'Selected device: ' %}{{ selected_sampling_event_device.pk }}</h4></a>
        <div class="collapse" id="collapseSamplingEventDevice">
        {% include 'selia/components/select_list_items/sampling_event_devices.html' with item=selected_sampling_event_device %}
        </div>
      </div>
    </div>
  </div>
  <div id="filePickerContainer" class="row">
    <div class="col-4 mx-5">
      <label for="item_typeInput">{% trans 'Files to upload: ' %}</label>
      <input id='itemFilePicker' type='file' multiple/>
    </div>
  </div>

      <form id="addItemForm" action="?chain={{ chain }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="sampling_event_device_field" name="sampling_event_device" value="{{ selected_sampling_event_device.pk }}">
      <div class="row">
        <div class="col-4 mx-5">
          <div class="row d-flex justify-content-between">
          <div class="p-3">
            {{ form.item_type.errors }}
            <label for="item_typeInput">{{ form.item_type.label_tag }}</label>
            {{ form.item_type|add_class:"form-control" }}
            <small id="item_typeHelp" class="form-text text-muted">{{ form.item_type.help_text|safe }} </small>
          </div>
          </div>
          <div class="row d-flex justify-content-between">
          <div class="p-3">
            {{ form.source.errors }}
            <label for="item_fileInput">{{ form.source.label_tag }}</label>
            {{ form.source|add_class:"form-control" }}
            <small id="sourceHelp" class="form-text text-muted">{{ form.source.help_text|safe }} </small>
          </div>
          </div>
        </div>
        <div class="col-4 mx-5">
          <div class="row d-flex justify-content-between">
          <div class="p-4">
            {{ form.captured_on.errors }}
            <label for="sampling_event_typeInput">{{ form.captured_on.label_tag }}</label>
            {{ form.captured_on|add_class:"form-control" }}
            <small id="sampling_event_type" class="form-text text-muted">{{ form.captured_on.help_text|safe }} </small>
          </div>
          </div>
          <div class="row d-flex justify-content-between">
          <div class="p-4">
            {{ form.tags.errors }}
            <label for="sampling_event_typeInput">{{ form.tags.label_tag }}</label>
            {{ form.tags|add_class:"form-control" }}
            <small id="sampling_event_type" class="form-text text-muted">{{ form.tags.help_text|safe }} </small>
          </div>
          </div>
          <div class="row d-flex justify-content-between">
          <div class="p-4">
            {{ form.licence.errors }}
            <label for="sampling_event_typeInput">{{ form.licence.label_tag }}</label>
            {{ form.licence|add_class:"form-control" }}
            <small id="sampling_event_type" class="form-text text-muted">{{ form.licence.help_text|safe }} </small>
          </div>
          </div>

          </div>
      </div>
      <div class="row p-6">
          <div class="row d-flex justify-content-between">
          <div class="p-4">
            {{ form.metadata.errors }}
            <label for="sampling_event_typeInput">{{ form.metadata.label_tag }}</label>
            {{ form.metadata|add_class:"form-control" }}
            <small id="sampling_event_type" class="form-text text-muted">{{ form.metadata.help_text|safe }} </small>
          </div>
          </div>
      </div>
        <div class="row p-6">
          <div class="col p-3 text-center">
              <button type="submit" class="btn btn-primary">{% trans 'Add item' %}</button>
          </div>
          <div class="col p-3 text-center">
              <a class="btn btn-danger" href="#">{% trans 'Cancel' %}</a>
          </div>
        </div>

      </form>
      <div id="progress_upload" class="container-fluid w-100 p-4" style="display:none;">
        <p>{% trans 'Upload progress: ' %}</p>
        <div class="progress">
          <div id="progress_upload_bar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100" style="width:0%">
            <span class="">0%</span>
          </div>
        </div>
      </div>
</div>

{% else %}
<div class="container" id="finalize_with_errors">
  <div class="jumbotron m-4">
    <h1 class="display-6">{%trans 'Add items to sampling event: Complete' %}</h1>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
<div class="container-fluid w-100 p-4">
        <div class="row p-6">
          <div class="col p-3 text-center">
              <a style="width:30%" href="?chain={{ chain }}&finalize=true" class="btn btn-primary"><h4>{% trans 'Done' %}</h4></a>
          </div>
        </div>
  </div>
{% if not request.GET.final_section %}
        <div id="upload_summary" class="container-fluid w-100 p-4">
          <h3 class="p-4">{% trans 'Result summary: ' %}</h3>
            <div class="tab">
                <a class="active" href="?chain={{ chain }}&duplicate_pks={{ request.GET.duplicate_pks }}&success_pks={{ request.GET.success_pks }}&final_section=added" role="button"><h4>{% trans 'Added items: ' %}{{ success_count }}</h4></a>
                <a href="?chain={{ chain }}&duplicate_pks={{ request.GET.duplicate_pks }}&success_pks={{ request.GET.success_pks }}&final_section=duplicate" role="button"><h4>{% trans 'Duplicate items: ' %}{{ duplicate_count }}</h4></a>
            </div>

            <div class="w-100 bg-light p-4 list-group mb-4">
              {% for item in success_list %}
              {% if item.pk == request.GET.sampling_event_device %}
              <a class="stretched-link btn btn-primary" href="#">
              {% else %}
              <a class="stretched-link btn" href="#">
              {% endif %}
              {% include 'selia/components/select_list_items/items.html' with item=item %}
              </a>
              {% empty %}
              <div class="container-fluid bg-light text-center">
                  <h4>{% trans 'No new items' %}</h4>
              </div>
              {% endfor %}

              <div class="container center w-100 p-4">
                {% include 'selia/components/pagination.html' with list=success_list %}
              </div>
            </div>
        </div>
{% else %}
  {% if request.GET.final_section == 'added' %}
        <div id="upload_summary" class="container-fluid w-100 p-4">
            <h3 class="p-4">{% trans 'Result summary: ' %}</h3>
            <div class="tab">
                <a class="active" href="?chain={{ chain }}&duplicate_pks={{ request.GET.duplicate_pks }}&success_pks={{ request.GET.success_pks }}&final_section=added" role="button"><h4>{% trans 'Added items: ' %}{{ success_count }}</h4></a>
                <a href="?chain={{ chain }}&duplicate_pks={{ request.GET.duplicate_pks }}&success_pks={{ request.GET.success_pks }}&final_section=duplicate" role="button"><h4>{% trans 'Duplicate items: ' %}{{ duplicate_count }}</h4></a>
            </div>
            <div class="w-100 bg-light p-4 list-group mb-4">
              {% for item in success_list %}
              {% if item.pk == request.GET.sampling_event_device %}
              <a class="stretched-link btn btn-primary" href="#">
              {% else %}
              <a class="stretched-link btn" href="#">
              {% endif %}
              {% include 'selia/components/select_list_items/items.html' with item=item %}
              </a>
              {% empty %}
              <div class="container-fluid bg-light text-center">
                  <h4>{% trans 'No new items' %}</h4>
              </div>
              {% endfor %}

              <div class="container center w-100 p-4">
                {% include 'selia/components/pagination.html' with list=success_list %}
              </div>
            </div>
        </div>
  {% else %}
        <div id="upload_summary" class="container-fluid w-100 p-4">
          <h3 class="p-4">{% trans 'Result summary: ' %}</h3>
            <div class="tab">
                <a href="?chain={{ chain }}&duplicate_pks={{ request.GET.duplicate_pks }}&success_pks={{ request.GET.success_pks }}&final_section=added" role="button"><h4>{% trans 'Added items: ' %}{{ success_count }}</h4></a>
                <a class="active" href="?chain={{ chain }}&duplicate_pks={{ request.GET.duplicate_pks }}&success_pks={{ request.GET.success_pks }}&final_section=duplicate" role="button"><h4>{% trans 'Duplicate items: ' %}{{ duplicate_count }}</h4></a>
            </div>
            <div class="w-100 bg-light p-4 list-group mb-4">
              {% for item in duplicate_list %}
              {% if item.pk == request.GET.sampling_event_device %}
              <a class="stretched-link btn btn-primary" href="#">
              {% else %}
              <a class="stretched-link btn" href="#">
              {% endif %}
              {% include 'selia/components/select_list_items/items.html' with item=item %}
              </a>
              {% empty %}
              <div class="container-fluid bg-light text-center">
                  <h4>{% trans 'No duplicates' %}</h4>
              </div>
              {% endfor %}

              <div class="container center w-100 p-4">
                {% include 'selia/components/pagination.html' with list=duplicate_list %}
              </div>
            </div>
        </div>
  {% endif %}
  
{% endif %}

{% endif %}
{% endblock main-content %}