{% extends 'selia/collection_detail/base.html' %}
{% load i18n %}
{% load selia_buttons %}
{% load selia_components %}
{% load widget_tweaks %}



{% block toolbar-title %}{% trans 'Register new device' %}{% endblock %}

{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
</li>
{% endblock %}

{% block main-content %}
<div class="container">
{% if fase == 'select_device' %}
<div class="jumbotron m-4">
  <h1 class="display-6">{% trans 'Register new device: Part' %} 1 {% trans 'of'%} 2</h1>
  <p class="lead">
    {% blocktrans %}
      Select the brand, model and device type.
    {% endblocktrans %}
  </p>
  <div class="progress m-5">
    <div class="progress-bar" role="progressbar"style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<form action="?back={{ request.path }}&chain={{ chain }}&fase=select_device#" method="post">
  {% csrf_token %}
  <div class="container">
    <div class="form-group">
      {{ select_device_form.device.errors }}
      <label for="{{ select_device_form.device.id_for_label }}">{% trans 'Device' %}</label>
      <div class="row">
        <div class="col-10">
          {{ select_device_form.device }}
        </div>
        <div class="col-2">
          <input type="submit" class="btn btn-primary" value="{% trans 'Select' %}">
        </div>
      </div>
      <small id="deviceHelp" class="form-text text-muted">
        {% trans 'Please search for the device' %} {% trans 'or'%} <a href="#collapseDevice" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseDevice">{% trans 'create a new one' %}</a>
      </small>
    </div>
  </div>

  <div class="container-fluid px-4 pb-5">
    <div class="collapse" id="collapseDevice">
      <div class="card card-body">
        <h5 class="w-100 text-center">{% trans 'Create new device' %}</h5>
        <div class="d-flex flex-column mb-3">
          {{ select_device_form.device_type.error }}
          {{ select_device_form.device_type.errors }}
          {{ select_device_form.device_type.label_tag }}
          <div class="d-flex flex-row">
            {{ select_device_form.device_type }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            {{ select_device_form.brand.error }}
            {{ select_device_form.brand.errors }}
            {{ select_device_form.brand.label_tag }}
            {{ select_device_form.brand }}
            <small id="brandInput" class="form-text text-muted">{{ select_device_form.brand.help_text }}</small>
          </div>
          <div class="form-group col">
            {{ select_device_form.model.error }}
            {{ select_device_form.model.errors }}
            {{ select_device_form.model.label_tag }}
            {{ select_device_form.model | add_class:'form-control' }}
            <small id="brandInput" class="form-text text-muted">{{ select_device_form.model.help_text }}</small>
          </div>
        </div>
        <div class="d-flex w-100 justify-content-end">
          <input type="submit" class="btn btn-link text-primary" value="{% trans 'Add' %}">
        </div>
      </div>
    </div>
  </div>
</form>
{% endif %}

{% if not fase == "select_device" %}
<div class="jumbotron m-4" id="addDetails">
  <h1 class="display-6">{% trans 'Register new device: Part' %} 2 {% trans 'of' %} 2</h1>
  <p class="lead">
    {% blocktrans %}
      Register any individual traits
    {% endblocktrans %}
  </p>
  <div class="progress m-5">
    <div class="progress-bar" role="progressbar"style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<fieldset disabled>
  <div class="form-group">
  <label for="disabledDevice">{% trans 'Device' %}</label>
  <select id="disabledDevice" class="form-control">
    <option>{{ select_device_form }}</option>
  </select>
  </div>
</fieldset>

<form action="?chain={{ chain }}&selected_device={{ selected_device.pk }}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col">
      {{ form.serial_number.errors }}
      {{ form.serial_number.label_tag }}
      {{ form.serial_number }}
      <small id="brandInput" class="form-text text-muted">{{ form.serial_number.help_text }}</small>
    </div>
    <div class="form-group col">
      {{ form.identifier.errors }}
      {{ form.identifier.label_tag }}
      {{ form.identifier }}
      <small id="brandInput" class="form-text text-muted">{{ form.identifier.help_text }}</small>
    </div>
    <div class="form-group col">
      {{ form.bundle.errors }}
      {{ form.bundle.label_tag }}
      {{ form.bundle }}
      <small id="brandInput" class="form-text text-muted">{{ form.identifier.help_text }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      {{ form.metadata.errors }}
      {{ form.metadata.label_tag }}
      {{ form.metadata }}
      <small id="brandInput" class="form-text text-muted">{{ form.metadata.help_text }}</small>
    </div>
    <div class="form-group col">
      <button type="submit" class="btn btn-primary">{% trans 'Register device' %}</button>
    </div>
  </div>


</form>
{% endif %}
</div>
{% endblock main-content %}

{% block scripts-extra %}
 {% autocomplete_media %}
{% endblock %}
