{% extends 'selia/create/items/base.html' %}
{% load i18n %}
{% load selia_components %}

{% block secondary-navbar %}
  {% include 'selia/sampling_event_device_detail/components/secondary_navbar.html' %}
{% endblock %}


{% block main-content %}
<div class="container">
  <div class="jumbotron m-4">
    <h1 class="display-6">{%trans 'Select licence' %}</h1>
    <p>
      {% blocktrans %}
        Please select a licence for the items you wish to upload.
      {% endblocktrans %}
    </p>
  </div>

  <div class="container-fluid form-container w-100 p-4">
      <div class="row d-flex justify-content-center flex-wrap">
        {% for item in licence_list %}
          <div class="col-3 p-4 list_item m-2">
            <a class="stretched-link" href="{% url 'selia:create_item' %}?{{ request.GET.urlencode }}&licence={{ item.pk }}">
              {% include 'selia/components/select_list_items/licences.html' with item=item %}
            </a>
          </div>
        {% empty %}

        <div class="container-fluid bg-light text-center">
            <h4>{% trans 'No available licences.' %}</h4>
        </div>

        {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
