{% extends 'selia/create/items/base.html' %}
{% load i18n %}
{% load selia_components %}

{% block secondary-navbar %}
  {% include 'selia/sampling_event_device_detail/components/secondary_navbar.html' %}
{% endblock %}


{% block main-content %}
<div class="container">
  <div class="jumbotron m-4">
    <h1 class="display-6">{%trans 'Select licence' %}</h1>
    <p>{% blocktrans %}
      Please select a licence or
      {% endblocktrans %} <a href="{% url 'selia:collection_licence_create' collection.pk %}?chain={{ chain }}|{{ request.path }}"></i> {% trans 'create a new one' %}</a>.
    </p>
  </div>

  <div class="container-fluid w-100 p-4">
      <h4>{% trans 'Available licences: ' %}</h4>
      <div class="w-100 bg-light p-4 list-group mb-4">
        {% for item in licence_list %}

          <a class="stretched-link btn btn-primary" href="{% url 'selia:create_item' %}?{{ request.GET.urlencode }}&licence={{ item.pk }}">
            {% include 'selia/components/select_list_items/licences.html' with item=item %}
          </a>

        {% empty %}

        <div class="container-fluid bg-light text-center">
            <h4>{% trans 'No available licences. Please ' %}</h4>
            <p><a href="{% url 'selia:collection_licence_create' collection.pk %}?chain={{ chain }}|{{ request.path }}"><i class="fas fa-plus"></i> {% trans 'create a new licence' %}</a></p>
        </div>

        {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
