{% extends 'selia/create/items/base.html' %}
{% load i18n %}
{% load selia_components %}

{% block secondary-navbar %}
  {% include 'selia/user/components/secondary_navbar.html' %}
{% endblock %}

{% block toolbar-steps %}
<li>{% trans 'Select collection' %}</li>
<li>{% trans 'Select sampling event' %}</li>
<li>{% trans 'Select deployed device' %}</li>
<li>{% trans 'Select licence' %}</li>
<li class="is-active">{% trans 'Upload files' %}</li>
{% endblock %}

{% block main-content %}
<div class="container p-5">
  <h1 class="text-danger text-center w-100">
    AQUI VA LA APP
  </h1>
</div>

{% endblock main-content %}
