{% extends 'selia/components/secondary_navbar.html' %}

{% block navbar-brand %}
<a class="navbar-brand" href={% url 'selia:user_home' %}>Usuario</a>
{% endblock navbar-brand %}

{% block navbar-items %}
{% url 'selia:user_home' as home_url %}
<li class="nav-item">
  {% if home_url == request.path|urlencode %}
  <a class="nav-link active" href={{ home_url }}>
  {% else %}
  <a class="nav-link" href={{ home_url }}>
  {% endif %}
    <i class="fas fa-home"></i>
    Resumen
  </a>
</li>

{% endblock navbar-items %}
