{% extends 'selia/create/base.html' %}
{% load selia_components %}
{% load i18n %}

{% block toolbar-title %}
  {% trans 'Create site' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
{% include 'selia/navbars/user.html' %}
{% endblock %}

{% block main-content %}
<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-6">{%trans 'Create site' %}</h1>
    <p class="lead">
      {% blocktrans %}
        Please fill in the following information
      {% endblocktrans %}
    </p>
  </div>

  <div class="form-container mb-4">
    <form action="?chain={{ chain }}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          {% bootstrap_form form.latitude %}
        </div>
        <div class="col">
          {% bootstrap_form form.longitude %}
        </div>
        <div class="col">
          {% bootstrap_form form.altitude %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% bootstrap_form form.locality %}
        </div>
        <div class="col">
          {% bootstrap_form form.name %}
        </div>
      </div>
      <div class="row justify-content-center">
        <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}">
      </div>
    </form>
  </div>
</div>

{% endblock main-content %}
