{% extends 'selia/base_with_toolbar.html' %}
{% load i18n %}
{% load static %}
{% load selia_components %}

{% block stylesheet %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'selia/css/step-progress.css'%}">
{% endblock stylesheet %}

{% block toolbar-items%}
<li>
  <div class="container-fluid">
    <ul class="list-unstyled multi-steps">
      {% block toolbar-steps %}
      {% endblock toolbar-steps %}
    </ul>
  </div>
</li>
{% endblock toolbar-items%}

{% block main-content %}
<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-6">
      {% block step-title %}
      {% endblock %}
    </h1>
    <p class="lead">
      {% block step-description %}
      {% endblock %}
    </p>
  </div>

  {% block extra-forms %}
  {% endblock %}

  {% block previously-selected %}
  {% endblock previously-selected %}

  {% block list-container %}
    <div class="container-fluid w-100 p-0 mb-4 rounded">
      <div class="container-fluid w-100 bg-dark rounded">
        {% with search_form=list.search order_form=list.order %}
          {% filter_component list.filter_template list.filter %}
        {% endwith %}
      </div>

      <div class="w-100 bg-light p-4 list-group">
        {% for item in list.queryset %}
          <a class="stretched-link btn" href="{% url create_url %}?{{ request.GET.urlencode }}&{{ prefix }}={{ item.pk }}">
            {% include list.list_template with item=item %}
          </a>
          {% empty %}
          <div class="container-fluid bg-light text-center">
            {% block empty-message %}
            {% endblock %}
          </div>
        {% endfor %}

        <div class="container center w-100 p-4">
          {% include 'selia/components/pagination.html' with list=list.queryset %}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
{% endblock main-content %}
