{% extends 'selia/user/base.html' %}
{% load i18n %}
{% load selia_buttons %}
{% load selia_components %}


{% block toolbar-title %}{% trans 'Register new device' %}{% endblock %}

{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
</li>
{% endblock %}

{% block main-content %}
  {% create_component create_template=create_form_template form=form %}
{% endblock main-content %}

{% block scripts-extra %}
 {% autocomplete_media %}
{% endblock %}
