{% load i18n %}

<div class="jumbotron">
  <div class="container">
    <h1>Irekua</h1>
    <h5 class="text-muted">
      {% blocktrans %}
      Home (p'urhépecha)
      {% endblocktrans %}
    </h5>
    <p>
      {% blocktrans %}
      A database model for data generated in biodiversity monitoring systems
      {% endblocktrans %}
    </p>
  </div>
</div>

<p>
{% blocktrans %}
Irekua data model stems from the requirements of most passive monitoring systems
{% endblocktrans %}
</p>

<div class="container">
  <div class="row p-2">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title">{% trans 'Distributed' %}</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title">{% trans 'Date Specific' %}</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title">{% trans 'Multi User' %}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title">{% trans 'Licenced Data' %}</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title">{% trans 'Site Specific' %}</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title">{% trans 'Device Dependent' %}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
{% lorem %}
</p>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="container">
        <h3>{% trans 'Collections' %}</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <p>
    {% lorem %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
    {% lorem %}
    </p>
  </div>
  <div class="col">
    <div class="jumbotron">
      <div class="container">
        <h3>{% trans 'Items' %}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="container">
        <h3>{% trans 'Sampling events' %} & {% trans 'Devices' %}</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <p>
    {% lorem %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
    {% lorem %}
    </p>
  </div>
  <div class="col">
    <div class="jumbotron">
      <div class="container">
        <h3>{% trans 'Adjustable Metadata Schemes' %}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="container">
        <h3>{% trans 'Item Annotations' %}</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <p>
    {% lorem %}
    </p>
  </div>
</div>
