{% extends 'selia/components/list_item.html' %}
{% load selia_buttons %}
{% load static %}
{% load i18n %}

{% block list-item-content %}
<div class="row w-100">
  <div class="col-2">
    <div class="container h-100 rounded">     
        {{ item.map_widget_no_controls }}
    </div>
  </div>
  <div class="col">
    <div class="media">
      <div class="media-body mt-0">
        <h4 class="mt-0">
          {% if item.name %}
          {{ item.name }}
          {% else %}
          {% trans 'Site' %} {{item.pk }}
          {% endif %}
        </h4>
        {% if item.locality %}
        <div class="text-muted">{{ item.locality }}</div>
        {% endif %}
        <a href="{% url 'selia:user_site_detail' item.pk %}">{% enter_button %}</a>
      </div>
    </div>
  </div>
  <div class="col-2 mx-5">
    <div class="row d-flex justify-content-between">
      <h6>{% trans 'Latitude' %}</h6>
      <div class="text-muted ml-4">{{ item.latitude }}</div>
    </div>
    <div class="row d-flex justify-content-between">
      <h6>{% trans 'Longitude' %}</h6>
      <div class="text-muted ml-4">{{ item.longitude }}</div>
    </div>
    <div class="row d-flex justify-content-between">
      <h6>{% trans 'Altitude' %}</h6>
      <div class="text-muted ml-4">{{ item.altitude }}</div>
    </div>
    <div class="row d-flex justify-content-between">
      <h6>{% trans 'Created on' %}</h6>
      <div class="text-muted ml-4">{{ item.created_on }}</div>
    </div>
  </div>

  <div class="col-2 mx-5">
    <div class="row d-flex justify-content-between">
      <h6>{% trans 'Collections' %}</h6>
      <div class="text-muted ml-4">{{ item.collectionsite_set.count }}</div>
    </div>
    <div class="row d-flex justify-content-between">
      <h6>{% trans 'Items captured' %}</h6>
      <div class="text-muted ml-4">{{ item.items.count }}</div>
    </div>
    <div class="row d-flex justify-content-between">
      <h6>{% trans 'Sampling events' %}</h6>
      <div class="text-muted ml-4">{{ item.sampling_events.count }}</div>
    </div>
  </div>
</div>
{% endblock list-item-content %}
