{% extends 'selia/components/secondary_navbar.html' %}
{% load i18n %}

{% block navbar-brand %}
<a class="navbar-brand" id="dropdownMenuButton" href={% url 'selia:collections_manager_home' %}>{% trans 'Collections Admin' %}</a>
{% endblock navbar-brand %}

{% block navbar-items %}
{% url 'selia:collections_manager_home' as home_url %}
<li class="nav-item">
  {% if home_url == request.path|urlencode %}
  <a class="nav-link active" href={{ home_url }}>
    {% else %}
    <a class="nav-link" href={{ home_url }}>
      {% endif %}
      <i class="fas fa-home"></i>
      {% trans 'Home' %}
    </a>
</li>

{% url 'selia:managed_collections' as collections_url %}
<li class="nav-item">
  {% if collections_url == request.path|urlencode %}
  <a class="nav-link active" href={{ collections_url }}>
    {% else %}
    <a class="nav-link" href={{ collections_url }}>
      {% endif %}
      <i class="fas fa-file"></i>
      {% trans 'Collections' %}
    </a>
</li>
{% endblock navbar-items %}
