* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.middle_align {
    margin: auto;
    vertical-align: middle !important;
}
.selected_ann {
  background-color: #cce0ff !important;
}
canvas {
    cursor: crosshair;
    border: 1px solid #000000;
}
