:root {
  --card-head: 15px;
  --detail-color: #D8DDEF;
  --map-color: #A0A4B8;
  --summary-color: #7293A0;
  --table-color: #7293A0;
}

.main-navbar {
  background-color: var(--info)!important;
}

.secondary-navbar {
  /* height: 40px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.tool-bar {
  /* height: 40px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}

#sidebar {
  /* for the animation */
  transition: margin 0.5s ease;
  -webkit-transition: margin 0.5s ease;
}

#row-main {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
}

#content {
  /* for the animation */
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}

.panel-container {
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
}

.panel {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0!important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  min-height: 30%;
}

.panel-header {
  position: fixed;
  width: inherit;
}

.leaflet-container-default {
  height: 100%;
  width: 100%;
}

#tableContainer {
  overflow-y: auto;
  max-height: 40vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.treegrid-indent {
    width: 0px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.treegrid-expander {
    width: 0px;
    height: 16px;
    display: inline-block;
    position: relative;
    left:-17px;
    cursor: pointer;
}