{% extends 'selia/item_detail/base.html' %}
{% load i18n %}
{% load selia_components %}
{% load selia_buttons %}

{% block toolbar-title %}{{ item.collection }}{% trans ': Item ' %}{{ item.pk }}{% trans ': Annotation ' %}{{ annotation.pk }}{% trans ': Edit ' %}{% endblock %}

{% block toolbar-items %}
	<li class="nav-item">
		<a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
	</li>
  <li class="nav-item">
    {% help_button %}
  </li>
{% endblock toolbar-items %}

{% block main-content %}
{% annotator_component annotator_template=annotator_template item=item annotation_list=annotation_list mode=mode %}
{% endblock main-content %}

{% block modals-extra %}

{% endblock modals-extra %}