{% extends 'selia/item_detail/base.html' %}
{% load i18n %}
{% load selia_components %}
{% load selia_buttons %}


{% block toolbar-title %}{{ item.collection }}{% trans ': Item ' %}{{ item.pk }}{% trans ': Annotations' %}{% endblock %}

{% block toolbar-items %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia:item_annotation_create' item.pk %}?">{% trans 'Add annotation' %} <i class="fas fa-plus"></i> <i class="fas fa-tools"></i></a>
  </li>
  <li class="nav-item">
    {% help_button %}
  </li>
{% endblock toolbar-items %}

{% block main-content %}

<div class="container-fluid w-100 p-0">
    {% filter_component filter_template=filter_form_template filter=filter %}
</div>
<div class="row p-5 justify-content-center">
  <div class="col-6">
    {% list_component template_name=list_item_template item_list=object_list empty_message=empty_message %}
  </div>
  <div class="col-6" align="center">
    <div class="container card p-2 bg-dark" align="center">
      <input type="hidden" id="img_url" name="img_url" value="{{ item.item_file.url }}">
      <canvas id="canvas" class="center-fit" width="800" height="600" style="background-image: url({{ item.item_file.url }}); background-size:cover; background-repeat:   no-repeat;background-position: center center;"></canvas>
    </div>
  </div>
</div>
{% endblock main-content %}

{% block modals-extra %}
  {% help_component help_template=help_template %}
{% endblock modals-extra %}