{% extends 'selia/base.html' %}
{% load static from staticfiles %}


{% block content %}
<div class="container-fluid p-0 h-100">
  <div class="row h-100" id="row-main">
    {% if request.session.expanded == 'true' %}
    <div class="col-md-2 container-fluid bg-light sidebar pl-4 pr-3 pt-4 h-100 l-0" id="sidebar">
    {% else %}
    <div class="col-md-2 container-fluid bg-light sidebar pl-4 pr-3 pt-4 h-100 l-0 collapsed" id="sidebar">
    {% endif %}
      {% block sidebar %}
      {% include 'selia/user/components/sidebar.html' %}
      {% endblock sidebar %}
    </div>

    {% if request.session.expanded == 'true' %}
    <div class="col-md-10 container-fluid main-content h-100 p-0" id="content">
    {% else %}
    <div class="col-md-12 container-fluid main-content h-100 p-0" id="content">
    {% endif %}
      <nav class="navbar navbar-expand navbar-light bg-light secondary-navbar p-0 box-shadow">
        {% block secondary-navbar %}
        {% include 'selia/user/components/secondary_navbar.html' %}
        {% endblock secondary-navbar %}
      </nav>
      {% block toolbar %}
      <nav class="navbar navbar-expand navbar-dark bg-dark tool-bar p-0 box-shadow">
        <div class="container">
          <ul class="nav">
            {% block toolbar-items %}
            {% endblock toolbar-items %}
          </ul>
        </div>
      </nav>
      {% endblock toolbar %}

      {% block main-content %}
      {% endblock main-content %}
    </div>
  </div>

</div>
{% endblock content %}
