{% extends 'selia/base.html' %}
{% load static from staticfiles %}


{% block navigation-items %}
<li class="nav-item">
  <a class="nav-link" href={% url 'irekua:home' %}>Irekua</a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:home' %}>Selia</a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'selia:about' %}>Acerca</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href={% url 'selia:user_home' %}>Mi Hogar</a>
</li>
{% endblock navigation-items %}


{% block content %}
<div class="container-fluid p-0 h-100">
  <div class="row h-100">
    <div class="col-md-2 bg-light sidebar pl-4 pr-3 pt-4 h-100 l-0">
      {% block sidebar %}
      <nav class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            {% block sidebar-user-info %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{user.username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ user.first_name }} {{ user.last_name  }}</h6>
                {% if user.institution is not None %}
                <h6 class="card-subtitle mb-2 text-muted">{{ user.institution }}</h6>
                {% endif %}

                <a href={% url 'selia:user_home' %} class="card-link">Perfil</a>
              </div>
            </div>
            {% endblock sidebar-user-info %}
          </li>

          <hr />

          {% block sidebar-links %}
          <li class="nav-item">
            <ul class="nav flex-column">
              <li class="nav-item text-center text-muted">
                  Usuario
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'selia:user_collections' %}>
                  <i class="fas fa-archive"></i>
                  Colecciones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-map-marked-alt"></i>
                  Sitios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-wrench"></i>
                  Dispositivos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-calendar-week"></i>
                  Eventos de Muestreo
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="far fa-file"></i>
                  Items
                </a>
              </li>
            </ul>
          </li>
          {% endblock sidebar-links %}

        </ul>
      </nav>
      {% endblock sidebar %}
    </div>

    <div class="col-md-9 ml-sm-auto col-lg-10 main-content h-100">
      {% block breadcrumb %}
      <nav aria-label="breadcrumb" class="container-fluid mt-2">
        <ol class="breadcrumb w-100">
          <li class="breadcrumb-item active" aria-current="page">
            <a href="#" class="btn btn-link disabled">
              Mi Hogar
            </a>
          </li>
        </ol>
      </nav>
      {% endblock breadcrumb %}

      {% block main-content %}
      {% endblock main-content %}
    </div>
  </div>

</div>
{% endblock content %}
