{% extends 'selia/user/base.html' %}
{% load i18n %}

{% block toolbar-title %}{% trans "My Items" %}{% endblock %}

{% block toolbar-items %}
<li class="navbar-item">
  <a href={% url 'selia:gallery' %} class="btn btn-link">{% trans "Gallery" %} <i class="far fa-images"></i></a>
  <button type="button" class="btn btn-link">{% trans "Download Summary" %} <i class="fas fa-file-download"></i></button>
  <button type="button" class="btn btn-link">{% trans "Help" %} <i class="fas fa-question"></i></button>
</li>
{% endblock toolbar-items %}
