{% extends 'selia/user/base.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block toolbar-title %}{% trans 'Create new item' %}{% endblock %}


{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
</li>
{% endblock %}

{% block main-content %}
<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-6">{%trans 'Select one of your collections' %}</h1>
      {% blocktrans %}
      Choose a collection from the list. 
      {% endblocktrans %}
  </div>
  <div class="container m-3" id="filter_container">

  </div>
  <div class="container-fluid w-100 p-0">
    <div class="w-100 bg-light p-4 list-group mb-4">
      {% for item in collection_list %}
      <a class="stretched-link btn" href="{% url 'selia:collection_item_create' item.pk %}?chain={{ chain }}|{{ request.path }}">
      {% include 'selia/components/select_list_items/user_collections.html' with item=item %}
      </a>
      {% empty %}
      <div class="container-fluid bg-light text-center">
          <h4>{% trans 'No available collections.' %}</h4>
      </div>
      {% endfor %}
      <div class="container center w-100 p-4">
        {% include 'selia/components/pagination.html' with list=collection_list %}
      </div>
    </div>
  </div>
</div>

{% endblock main-content %}
