{% extends 'selia/collections/detail/base.html' %}
{% load i18n %}

{% block toolbar-title %}{% trans "Collection Items" %}{% endblock %}


{% block toolbar-items %}
<li class="navbar-item ">
  <button type="button" class="btn btn-link">{% trans "Gallery" %} <i class="far fa-images"></i></button>
  <button type="button" class="btn btn-link">{% trans "Download Summary" %} <i class="fas fa-file-download"></i></button>
  <button type="button" class="btn btn-link">{% trans "Help" %} <i class="fas fa-question"></i></button>
</li>
{% endblock toolbar-items %}
