{% extends 'selia/user/base.html' %}
{% load i18n %}
{% load selia_components %}

{% block toolbar-title %}{% trans 'Create site' %}{% endblock %}


{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{{ back }}">{% trans 'Back' %} <i class="fas fa-backspace"></i></a>
</li>
{% endblock %}

{% block main-content %}
<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-6">{%trans 'Create site' %}</h1>
    <p class="lead">{% blocktrans %}
      Please fill in the following information
      {% endblocktrans %}
  </div>

  <div class="form-container mb-4">
    <form action="?chain={{ chain }}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" id="collection_field" name="collection" value="{{ collection }}">

      <h5 class="w-100 text-center">{% trans 'Create new site' %}</h5>
      <div class="row">
        <div class="col">
          {% bootstrap_form form.latitude %}
        </div>
        <div class="col">
          {% bootstrap_form form.longitude %}
        </div>
        <div class="col">
          {% bootstrap_form form.altitude %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% bootstrap_form form.locality %}
        </div>
        <div class="col">
          {% bootstrap_form form.name %}
        </div>
      </div>
      <div class="row justify-content-center">
        <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}">
      </div>
    </form>
  </div>
</div>

{% endblock main-content %}
