{% extends 'selia/components/secondary_navbar.html' %}
{% load i18n %}

{% block navbar-brand %}
<div class="dropdown">
  <a class="navbar-brand text-nowrap dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ collection }}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item active" href={% url 'selia:collection_detail' collection.pk %}>{{ collection }}</a>
    <a class="dropdown-item" href={% url 'selia:collections_about' %}>{% trans 'Collections' %}</a>
  </div>
</div>

{% endblock navbar-brand %}

{% block navbar-items %}
{% url 'selia:collection_detail' collection.pk as detail_url %}
<li class="nav-item">
  {% if detail_url == request.path|urlencode %}
  <a class="nav-link active" href={{ detail_url }}>
  {% else %}
  <a class="nav-link" href={{ detail_url }}>
  {% endif %}
    <i class="fas fa-info"></i>
    {% trans 'About' %}
  </a>
</li>

{% url 'selia:collection_items' collection.pk as detail_url %}
<li class="nav-item">
  {% if detail_url == request.path|urlencode %}
  <a class="nav-link active" href={{ detail_url }}>
  {% else %}
  <a class="nav-link" href={{ detail_url }}>
  {% endif %}
    <i class="far fa-file"></i>
    {% trans 'Items' %}
  </a>
</li>

{% url 'selia:collection_devices' collection.pk as devices_url %}
<li class="nav-item">
  {% with devices_url|add:"add/" as add_device_url %}
  {% if devices_url == request.path|urlencode or add_device_url == request.path|urlencode %}
  <a id="devices" class="nav-link active" href={{ devices_url }}>
  {% else %}
  <a id="devices" class="nav-link" href={{ devices_url }}>
  {% endif %}
    <i class="fas fa-tools"></i>
    {% trans 'Devices' %}
  </a>
  {% endwith %}
</li>

{% url 'selia:collection_sampling_events' collection.pk as detail_url %}
<li class="nav-item">
  {% with detail_url|add:"add/" as add_sampling_event_url %}
  {% if detail_url == request.path|urlencode or add_sampling_event_url == request.path|urlencode %}
  <a id="devices" class="nav-link active" href={{ detail_url }}>
  {% else %}
  <a id="devices" class="nav-link" href={{ detail_url }}>
  {% endif %}
  <i class="fas fa-calendar-week"></i>
    {% trans 'Sampling events' %}
  </a>
  {% endwith %}

</li>

{% url 'selia:collection_sites' collection.pk as detail_url %}
<li class="nav-item">
  {% with detail_url|add:"add/" as add_site_url %}
  {% if detail_url == request.path|urlencode or add_site_url == request.path|urlencode %}
  <a class="nav-link active" href={{ detail_url }}>
  {% else %}
  <a class="nav-link" href={{ detail_url }}>
  {% endif %}
    <i class="fas fa-map-marked-alt"></i>
    {% trans 'Sites' %}
  </a>
  {% endwith %}
</li>

{% url 'selia:collection_licences' collection.pk as detail_url %}
<li class="nav-item">
  {% with detail_url|add:"add/" as add_sampling_event_url %}
  {% if detail_url == request.path|urlencode or add_sampling_event_url == request.path|urlencode %}  <a class="nav-link active" href={{ detail_url }}>
  {% else %}
  <a class="nav-link" href={{ detail_url }}>
  {% endif %}
  <i class="fas fa-user-lock"></i>
    {% trans 'Licences' %}
  </a>
  {% endwith %}
</li>
{% endblock navbar-items %}
