{% extends 'selia/components/secondary_navbar.html' %}
{% load i18n %}

{% block navbar-brand %}
<div class="dropdown">
  <a class="navbar-brand text-nowrap dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ collection }}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item active" href={% url 'selia:collection_detail' collection.pk %}>{{ collection }}</a>
    <a class="dropdown-item" href={% url 'selia:collections_about' %}>{% trans 'Collections' %}</a>
  </div>
</div>

{% endblock navbar-brand %}

{% block navbar-items %}
{% url 'selia:collection_detail' collection.pk as detail_url %}
<li class="nav-item">
  {% if detail_url == request.path|urlencode %}
  <a class="nav-link active" href={{ detail_url }}>
  {% else %}
  <a class="nav-link" href={{ detail_url }}>
  {% endif %}
    <i class="fas fa-info"></i>
    {% trans 'About' %}
  </a>
</li>

{% url 'selia:collection_devices' collection.pk as devices_url %}
<li class="nav-item">
  {% if devices_url == request.path|urlencode %}
  <a class="nav-link active" href={{ devices_url }}>
  {% else %}
  <a class="nav-link" href={{ devices_url }}>
  {% endif %}
    <i class="fas fa-tools"></i>
    {% trans 'Collection Devices' %}
  </a>
</li>

{% url 'selia:collection_items' collection.pk as items_url %}
<li class="nav-item">
  {% if items_url == request.path|urlencode %}
  <a class="nav-link active" href={{ items_url }}>
  {% else %}
  <a class="nav-link" href={{ items_url }}>
  {% endif %}
    <i class="far fa-file"></i>
    {% trans 'Items' %}
  </a>
</li>

{% url 'selia:collection_sites' collection.pk as sites_url %}
<li class="nav-item">
  {% if sites_url == request.path|urlencode %}
  <a class="nav-link active" href={{ sites_url }}>
  {% else %}
  <a class="nav-link" href={{ sites_url }}>
  {% endif %}
    <i class="fas fa-map-marked-alt"></i>
    {% trans 'Collection Sites' %}
  </a>
</li>
{% endblock navbar-items %}
