{% extends 'selia/sampling_event_device_detail/base.html' %}
{% load i18n %}
{% load selia_components %}
{% load selia_buttons %}

{% block toolbar-title %}{{ sampling_event_device.sampling_event.collection }}{% trans ': Sampling Event ' %}{{ sampling_event_device.sampling_event.pk }}{% trans ': Device ' %}{{ sampling_event_device.pk }}{% trans ': Items' %}{% endblock %}
{% block toolbar-items %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia:sampling_event_device_item_create' sampling_event_device.pk %}?">{% trans 'Add Items' %} <i class="fas fa-plus"></i> <i class="far fa-file"></i></a>
  </li>
  <li class="nav-item">
    {% help_button %}
  </li>
{% endblock toolbar-items %}

{% block main-content %}

  <div class="container-fluid w-100 p-0">
    {% filter_component filter_template=filter_form_template filter=filter %}
  </div>

{% list_component template_name=list_item_template item_list=object_list empty_message=empty_message %}
{% endblock main-content %}

{% block modals-extra %}
  {% help_component help_template=help_template %}
{% endblock modals-extra %}

